<!-- views/signup.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <style>
    body {
      background-color: linen;
      justify-content: center;
    }
    ul {
      display: inline-block;
    }
    .logo{
      justify-content: center;
    }
    h1 {
      color: maroon;
      margin-left: 40px;
    }
    </style>
</head>
<body>
  <header>
    <nav>
      <div class="logo"><a href="/">SCISSORS</a></div>
      <ul>
        <li><a href="#features">Features</a></li>
        <li><a href="/users/login">Login</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <h1>SIGN UP</h1>
  </header>

  <section id="signup-form">
    <form action="/users/register" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Sign Up</button>
    </form>
  </section>

  <footer>
    <p>Already have an account? <a href="/users/login">Login</a></p>
    <p>&copy; 2024 SCISSORS All rights reserved.</p>
  </footer>
</body>
</html>