<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Scissors is a tool to shorten a long link and create a short URL easy to share on sites, chat and emails. Track short URL analysis and manage your links.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Scissors - URL Shortener">
  <meta property="og:url" content="https://scissors-alt.onrender.com/">
  <meta property="og:type" content="website">
  <title>URL Shortener || Dashboard </title>
  <style type="text/css">
     body {
        background-color: linen;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
    }
    .link-item {
        margin-bottom: 10px;
        margin: blue;
    }
    .link-item a {
        text-decoration: none;
        color: blue;
        margin-right: 10px;
    }
  </style>
</head>

<body>
  <header>
    <div id="logo">
      <a href="/" class="logo">
        <h1>SCISSORS</h1>
      </a>
    </div>
  </header>
  <main>
    <section id="urlbox">
      <h1>Shortened URLs</h1>
      <div>
        <% if (shortURLs.length > 0) { %>
        <h2>Your Shortened URLs:
          <hr>
        </h2>
        <ul>
          <% shortURLs.forEach(url => { %>
          <li>
            Inputed URL - <%= url.longUrl %></br>
            Shorten URL - <a href="<%= url.shortUrl %>"><%= url.shortUrl %></a></br>
            <a href="/url/analytics/<%= url.shortCode %>" target="_blank"> View Analytics</a>
            <hr>
          </li>
          <% }); %>
        </ul>
        <% } else { %>
        <p>No shortened URLs found.</p>
        <% } %>
      </div>
      <hero>
        <a href="/users/dashboard">Go back to dashboard</a>
      </hero>
    </section>
  </main>
  <footer>
    <div id="footerbox">
      <div>&copy; 2024 SCISSORS All rights reservedk</div>
    </div>
  </footer>
</body>

</html>