<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL longtener - Generate QR Code</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
        }
        .input-field {
            margin-bottom: 20px;
        }
        .qr-code {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <section id="shorten-form">
        <form action="/url/create" method="post">
          <label for="longUrl">long URL:</label>
          <input type="text" id="longUrl" name="longUrl" placeholder="https://example.com" required>
          
          <button type="submit">Shorten</button>
        </form>
      </section>

    <footer>
        <p>&copy; 2024 SCISSORS All rights reserved.</p>
      </footer>
</body>
</html>
